
$colorpie: #06cccc;
 @mixin margenes ($top){
margin-top: $top;
}

.jumbotron {
    
    background-image: url(../imagen/elrecreo007.jpg);
     background-position: 0% 15%;
    background-size: cover;
    background-repeat: no-repeat;
    color:ghostwhite;
   @include margenes(50px);
      
    
}

.d-inline-flex {
    
    background-color:black;
    color: antiquewhite;
     border-radius:5px 5px 5px 5px;
    opacity: 0.9;
    
    
}






.d-flex   {
    
    
   
    border: 50px;
    color: #151515;
    border-radius:5px 5px 5px 5px;
}

.btn {
    
    color: darkslategrey;
    background-color: #cbe436;
    
    
}

.footer {
    
   margin-top: 10px;
}

.card-hotel {
    flex: 1 150px;
    padding: 20px 150px 150px 50px;
    
    
    
}
.btn {
 width: 100%;
  
    
    
}

.titulo {
    
     background-color: #c47800;
    
    color: #151515;
    
}

.pie-pagina {
    
    
    
    background-color: $colorpie ;
    color:#151515;
       padding: 2px 5px 2px 5px;
    justify-content: center;
}

.footer-address-icon{
    padding-right: 10px;
    padding-left: 20px;
    
    
    
}

.form-row {
    
     padding-right: 10px;
    padding-left: 20px;
    
    
}
.form-group {
    
    padding-right: 10px;
    padding-left: 20px;
    
}

.row{
    
    justify-content: center;
    padding: 10px 10px 10px 10px;
}
.col-sm-6 {
    padding: 10px 10px 10px 10px;
    width: 100%;
    height: 100%;
}
.tab-content{
    
    padding-top: 10px;
}
